.ellipsis{
	display: block; /* Fallback for non-webkit */
	display: -webkit-box;
	max-height: 72px; /* Fallback for non-webkit */
	font-size: 16px;
	line-height: 24px;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.news-post{
	border-bottom: 1px solid black;
}

.news-post h1{
	margin-bottom: 0px;
}

.news-post label{
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 20px;
}

.menu-login{
	margin: 0px;
	position: absolute;
	right: 20px;
	top: 11px;
}

.menu-login li{
	float: left;
}